@{
    Layout = "_LayoutAdmin";
}
@section Scripts
    {
    <script>
        var Urlgetlistcount = '@Url.Action("getlistcount", "Admin")';
    </script>
    <script src="~/js/Admin/Dashboard.js" asp-append-version="true"></script>
}

<style>
    .iconset {
        display: flex;
        padding:0;
    }

        .iconset li {
            text-align: center;
            list-style: none;
            border: 1px solid gray;
            margin-right: 10px;
            padding: 35px;
            background-color: #00529c;
            color: black;
            font-size: 16px;
            border-radius: 10px;
        }
            .iconset li span {
                color: white;
                font-weight: 600;
                font-size: larger;
            }
</style>

<div class="row" style="padding-left: 10px; margin-top: 50px">
    <div class="col-sm-12">
        <ul class="iconset">
            <li><a style="text-decoration:none" href="/admin/Users"><span>Total Users<br /><label ID="lblUsers">0</label></span></a></li>
            <li><a style="text-decoration:none" href="/admin/Stocks"><span>Total Stocks<br /><label ID="lblStocks">0</label></span></a></li>
            <li><a style="text-decoration:none" href="/admin/MutualFund"><span>Total Mutual Funds<br /><label ID="lblMF">0</label></span></a></li>
            <li><a style="text-decoration:none" href="/admin/FixedIncome"><span>Total Fixed Income Plan<br /><label ID="lblFI">0</label></span></a></li>
        </ul>
        <hr />
    </div>
    
    

</div>