@using PMS.Models
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row" style="padding-top:60px">
        <div class="col-sm-4">
            <a href="/Home/Stock" style="color:black;text-decoration:none">
            <div style="background-color: #9add9a;padding: 50px;border-radius: 10px">
                <h5>Stock</h5>
                <ul>
                    <li>
                        Add Stock details
                    </li>
                    <li>
                        View Stock details
                    </li>
                    <li>
                        Modify Stock details
                    </li>
                </ul>
            </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/Home/MutualFund" style="color:black;text-decoration:none">
            <div style="background-color: #9add9a;padding: 50px;border-radius: 10px">
                <h5>Mutual Fund</h5>
                <ul>
                    <li>
                        Add Mutual Fund details
                    </li>
                    <li>
                        View Mutual Fund details
                    </li>
                    <li>
                        Modify Mutual Fund details
                    </li>
                </ul>
            </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/Home/FixedIncome" style="color:black;text-decoration:none">
            <div style="background-color: #9add9a;padding: 50px;border-radius: 10px">
                <h5>Income Details</h5>
                <ul>
                    <li>
                        Add Fixed Income details
                    </li>
                    <li>
                        View Fixed Income details
                    </li>
                    <li>
                        Modify Fixed Income details
                    </li>
                </ul>
            </div>
            </a>
        </div>
    </div>
</div>


